{% extends 'base.html' %}
{% load static %}

{% block title %} Enlistment Buddy {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block content %}
<main>
    <!--shows information per class in table form
    <table>
        <td>{{ trycourse }}</td>
        {% for course in courses %}
            <td>{{ course }}</td>
        {% endfor %}
    </table> -->
    <section id="content">
        <section class="textareas">
            <form class="ta_form" action="/index_card" method="post">
                {% csrf_token %}
                <!-- <div class="ta_buttons">
                    <button name="ta-button" class="ta_add" onclick="">
                        <img src="../static/img/button-add.svg">
                    </button>
                    <button name="ta-button" class="ta_trash" onclick="">
                        <img src="../static/img/button-trash.svg">
                    </button>
                </div> -->
                {{ copypasteform.copypaste }}
                <!-- generate schedule button -->
                <input class="btn ta_gen" type="submit" name="copypastesubmit" value="Save Copy-Pasted Text" style="align-self: self-end;">
            </form>
            <!-- edit button - triggers pop up view 
                <button name="ta-button" class="ta_edit" onclick="openModal()" value="edit">
                <img src="../static/img/button-edit.svg">
            </button> -->
            <form action="/index_card" method="post" class="generateArea">
                {% csrf_token %}
                <input type="hidden" id="returnlock" name="returnlock" value="">
                <input type="hidden" id="returnunlock" name="returnunlock" value="">
                <input type="hidden" id="returndeltab" name="returndeltab" value="">
                <button class="btn ta_gen" type="submit" onClick="returnLockedList(); returnUnlockedList(); returnDeletedTabs();" name="generate" value="Generate a Schedule">Generate a Schedule</button>
                <div class="filterbytime">
                    <div class="btn filterhead">Filter Schedule By Time</div>
                    <div class="filterrow">
                        <h3>Set earliest possible class to start at:</h3>
                        <form action="/index_card" method="post">
                            {% csrf_token %}
                            {{ filterform.filter_start }}  
                        </form>
                    </div>
                    <div class="filterrow">
                        <h3>Set latest possible class to end at:</h3>
                            {{ filterform.filter_end }}
                        </form>
                    </div>
                </div>
            </form>
            <div class="classtable">
                <div class="cthead">
                </div>
                <h4 class="columnheader">Code</h4>
                <h4 class="columnheader">Section</h4>
                <h4 class="columnheader">Sched</h4> 
                <h4 class="columnheader">Start</h4> 
                <h4 class="columnheader">End</h4>
                <h4 class="columnheader">Venue</h4>
                <h4 class="columnheader">Professor</h4>
                {% for class in classinfo %}
                <div class="ctinfo">{{class.code}}</div>
                <div class="ctinfo">{{class.section}}</div>
                <div class="ctinfo">{{class.sched}}</div> 
                <div class="ctinfo">{{class.start}}</div>
                <div class="ctinfo">{{class.end}}</div>
                <div class="ctinfo">{{class.venue}}</div>
                <div class="ctinfo">{{class.professor}}</div>
                {% endfor %}
            </div>
        </section>
        <section id="timetable">
            <div class="timetableHead">
                <!-- TEST BUTTON -->
                <button type="" onclick="returnStaticHome()" name="pin" value="Pin a Schedule">
                    <img src="../static/img/button-pin.svg">
                </button>
                <form action="/index_card" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="returnsched" name="returnsched" value="">
                    <!-- <button name="ta-button" class="ta_newtab" type="submit" onClick= "returnSched('{{ finalsched }}')" name="pin" class="newtab">
                        <img src="../static/img/button-edit.svg">
                    </button> -->
                    <!-- HI this is the unpin button hehe sry XD
                         this deletes all scheds in schedlist if u wanna test stuff <3 -->
                    <button type="submit" onClick="" name="unpin" value="Pin a Schedule">
                        <img src="../static/img/button-pin.svg">
                    </button>
                </form>
                <div class="tablinks">
                    <a class="" name="saveSched" onclick="popUpImage()">
                        <img class="download" src="../static/img/button-download.svg">
                    </a>
                    <button class="" name="showDynamicTab" onclick="displayGenerator()">HOME</button>
                </div>
                <div class="tablinks">
                    <button class="" name="showTab" onclick="">SCHED</button>
                </div>
                <!-- HI this is where the tab headers come from
                     forloop.counter is where the tabnum is coming from <3 -->
                {% for tab in schedulelist %}
                    <div class="tabhead {{ forloop.counter }}">
                        <button name="ta-button" class="ta_trash" onclick="deleteTab('{{ forloop.counter }}')">
                            <img src="../static/img/button-trash.svg">
                        </button>
                        <button class="tablinks" name="showTab" onclick="displayTab1('{{ forloop.counter }}')">SCHED {{ forloop.counter }}</button>
                    </div>
                {% endfor %}
            </div>
            <!-- <div class="row timerow"> -->
            <div class="scheduleGrid 0" id="schedule">
                <div class="time"> </div>
                <div class="dayh">M</div>
                <div class="dayh">T</div> 
                <div class="dayh">W</div> 
                <div class="dayh">Th</div>
                <div class="dayh">F</div>
                <div class="dayh">S</div>
            {% for x in time %}
                <div class="time">{{ x|time:"H:i" }}</div>
                <section class="daytable">
                    <div class="day">
                        {% for class in monday %}               
                            {% if class.start  <= x and class.end > x %}  
                            <div onclick="lock(this, '{{ class.color }}')" class="{{ class.islocked }} infowrap {{ class.color }} {{ class.code.name }} {{ class.section }}">
                                <div class="lockoverlay">
                                    <button name="lock" class="class-lock btn" value="lock">
                                        <img src="../static/img/button-unlock.svg">
                                    </button>
                                </div>
                                <!--{% csrf_token %}
                                {{ lockedform.islocked }}-->
                                <div class="classinfo">{{ class.code.name }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>-->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="day">
                        {% for class in tuesday %}         
                            {% if class.start  <= x and class.end > x %}  
                            <div onclick="lock(this, '{{ class.color }}')" class="{{ class.islocked }} infowrap {{ class.color }} {{ class.code.name }} {{ class.section }}">
                                <div class="lockoverlay">
                                    <button name="lock" class="class-lock btn" value="lock">
                                        <img src="../static/img/button-unlock.svg">
                                    </button>
                                </div>
                                <!--{% csrf_token %}
                                {{ lockedform.islocked }}-->
                                <div class="classinfo">{{ class.code.name }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>-->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="day">
                        {% for class in wednesday %}         
                            {% if class.start  <= x and class.end > x %}  
                            <div onclick="lock(this, '{{ class.color }}')" class="{{ class.islocked }} infowrap {{ class.color }} {{ class.code.name }} {{ class.section }}">
                                <div class="lockoverlay">
                                    <button name="lock" class="class-lock btn" value="lock">
                                        <img src="../static/img/button-unlock.svg">
                                    </button>
                                </div>
                                <!--{% csrf_token %}
                                {{ lockedform.islocked }}-->
                                <div class="classinfo">{{ class.code.name }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>-->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="day">
                        {% for class in thursday %}         
                            {% if class.start  <= x and class.end > x %}  
                            <div onclick="lock(this, '{{ class.color }}')" class="{{ class.islocked }} infowrap {{ class.color }} {{ class.code.name }} {{ class.section }}">
                                <div class="lockoverlay">
                                    <button name="lock" class="class-lock btn" value="lock">
                                        <img src="../static/img/button-unlock.svg">
                                    </button>
                                </div>
                                <!--{% csrf_token %}
                                {{ lockedform.islocked }}-->
                                <div class="classinfo">{{ class.code.name }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>-->  
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="day">
                        {% for class in friday %}         
                            {% if class.start  <= x and class.end > x %}  
                            <div onclick="lock(this, '{{ class.color }}')" class="{{ class.islocked }} infowrap {{ class.color }} {{ class.code.name }} {{ class.section }}">
                                <div class="lockoverlay">
                                    <button name="lock" class="class-lock btn" value="lock">
                                        <img src="../static/img/button-unlock.svg">
                                    </button>
                                </div>
                                <!--{% csrf_token %}
                                {{ lockedform.locked }}-->
                                <div class="classinfo">{{ class.code.name }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>--> 
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="day">
                        {% for class in saturday %}         
                            {% if class.start  <= x and class.end > x %}  
                            <div onclick="lock(this, '{{ class.color }}')" class="{{ class.islocked }} infowrap {{ class.color }} {{ class.code.name }} {{ class.section }}">
                                <div class="lockoverlay">
                                    <button name="lock" class="class-lock btn" value="lock">
                                        <img src="../static/img/button-unlock.svg">
                                    </button>
                                </div>
                                <!--{% csrf_token %}
                                {{ lockedform.islocked }}-->
                                <div class="classinfo">{{ class.code.name }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>--> 
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            <!-- </div> -->
            {% endfor %}
            </div>
            <!-- hi this is where the different schedules are made
                 i move the for list in schedulelist Carmen if u needed that somewhere specific sry -->
            {% for list in schedulelist %}
            <div class="scheduleGrid {{ forloop.counter }}">
                <div class="time"> </div>
                <div class="dayh">M</div>
                <div class="dayh">T</div> 
                <div class="dayh">W</div> 
                <div class="dayh">Th</div>
                <div class="dayh">F</div>
                <div class="dayh">S</div>
            {% for x in time %}
                <div class="time">{{ x|time:"H:i" }}</div>
                <section class="daytable">
                    {% for class in list %}
                        {% if class.start  <= x and class.end > x %}  
                        <div onclick="lock(this, '{{ class.color }}')" class="{{ class.islocked }} infowrap {{ class.color }} {{ class.code.name }} {{ class.section }} {{ class.sched }}">
                            <div class="lockoverlay">
                                <button name="lock" class="class-lock btn" value="lock">
                                    <img src="../static/img/button-unlock.svg">
                                </button>
                            </div>
                            <!--{% csrf_token %}
                            {{ lockedform.islocked }}-->
                            <div class="classinfo">{{ class.code.name }}</div>
                            <div class="classinfo">{{ class.section }}</div>
                            <div class="classinfo">{{ class.venue }}</div>
                            <div class="classinfo">{{ class.professor }}</div>
                        </div>
                            <!--<div>{{ class.start }}-{{ class.end }}</div>-->
                        {% endif %}
                    {% endfor %}
                </section>
            <!-- </div> -->
            {% endfor %}
            </div>
            {% endfor %}
        </section>
    </section>
</main>
<div id="myModal" class="modal">
    <!-- <div class="modal-content">
        <span class="close">&times;</span>
        <div class="forminput-wrap">
            <form action="/index_card" method="post">
                {% csrf_token %}
                {% if class %}
                    {% for class in finalsched %}
                        <div class="coursecode-div">
                            <h1>Course Code</h1>
                            {{ codeform.name }}
                        </div>
                        <div class="form-section">
                            <div class="form-group sectiongroup">
                                <h2>Section</h2>
                                {{ indexcardform.section }}
                            </div>
                            <div class="section-inner">
                                <div class="form-group">
                                    <h4>Schedule</h4>
                                    {{ indexcardform.sched }}
                                </div>
                                <div class="startend">
                                    <div class="form-group">
                                        <h4>Start <span>(military time)</span></h4>
                                        {{ indexcardform.start }}
                                    </div>
                                    <div class="form-group">
                                        <h4>End <span>(military time)</span></h4>
                                        {{ indexcardform.end }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4>Venue</h4>
                                    {{ indexcardform.venue }}
                                </div>
                                <div class="form-group">
                                    <h4>Professor</h4>
                                    {{ indexcardform.professor }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="coursecode-div">
                    <h1>Course Code</h1>
                    {{ codeform.name }}
                </div>
                <div class="form-section">
                    <div class="form-group sectiongroup">
                        <h2>Section</h2>
                        {{ indexcardform.section }}
                    </div>
                    <div class="section-inner">
                        <div class="form-group">
                            <h4>Schedule</h4>
                            {{ indexcardform.sched }}
                        </div>
                        <div class="startend">
                            <div class="form-group">
                                <h4>Start <span>(military time)</span></h4>
                                {{ indexcardform.start }}
                            </div>
                            <div class="form-group">
                                <h4>End <span>(military time)</span></h4>
                                {{ indexcardform.end }}
                            </div>
                        </div>
                        <div class="form-group">
                            <h4>Venue</h4>
                            {{ indexcardform.venue }}
                        </div>
                        <div class="form-group">
                            <h4>Professor</h4>
                            {{ indexcardform.professor }}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="form-submit">
                    <input class="btn" type="submit" name="indexsubmit" value="save">
                </div>
                <button name="pup-add-button" class="ta_add" onclick="">
                    <img src="../static/img/button-add.svg">
                </button>
                <button name="pup-del-button" class="ta_trash" onclick="">
                    <img src="../static/img/button-trash.svg">
                </button>
            </form>
        </div>
    </div> -->
    <div class="modal-content">
        <span class="close">&times;</span>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!-- <script src="{% static 'js/app.js' %}"></script> -->
<script src="../static/js/modal.js"></script>
<script src="../static/js/lock_vis.js"></script>
<script src="../static/js/generate.js"></script>
<script src="../static/js/newtab.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="../static/js/html2canvas.js"></script>

{{ copypaste|json_script:"copypaste" }}
<script>
    function downloadURI(uri, name) {
        var link = document.createElement("a");
        link.download = name;
        link.href = uri;
        link.click();
    }

    function popUpImage() {
        html2canvas(document.querySelector(".scheduleGrid")).then(canvas => {
            var scheduleimg = canvas.toDataURL("image/png");
            downloadURI("data:" + scheduleimg, "schedule.png");
        });
        html2canvas(document.querySelector(".scheduleGrid"));
    }

    var text = JSON.parse(document.getElementById('copypaste').textContent);
    document.getElementsByClassName("textarea")[0].value = text;

    var lockedClasses = Array.from(document.querySelectorAll(".True"));
    var unlockedClasses = Array.from(document.querySelectorAll(".False"));

    function getButton(div) {
        var buttonimg = div.firstElementChild.firstElementChild.firstElementChild;
        return buttonimg;
    }

    lockedClasses.forEach(
        function changeToLock(course) {
            getButton(course).src = "../static/img/button-lock.svg";
            course.firstElementChild.style.opacity = "1";
        }
    )
    
    unlockedClasses.forEach(
        function changeToUnlock(course) {
            getButton(course).src = "../static/img/button-unlock.svg";
        }
    )
</script>
{% endblock %}