{% extends 'base.html' %}
{% load static %}

{% block title %} Enlistment Buddy {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block content %}
<section>
    <button onclick="openModal()">EDIT</button>
</section>
<section>
    <!-- put main website here -->
</section>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div>
            <form action="/index_card" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

<table>
    <tr>
        <th>-</th>
        <th>Monday</th>
        <th>Tuesday</th> 
        <th>Wednesday</th> 
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <th>9:00</th>
        <th> 
            <!-- I need to be able to call ANY info -->
            <div>{{ class_info.first.code }}</div>
            <div>{{ class_info.first.section }}</div>
            <div>{{ class_info.first.venue }}</div>
            <div>{{ class_info.first.professor }}</div>
        </th>
        <th> -- </th> 
        <th> -- </th> 
        <th> -- </th>
        <th> -- </th>
        <th> -- </th>
    </tr>
    <tr>
        <th>9:30</th>
        <th> -- </th>
        <th> -- </th> 
        <th> -- </th> 
        <th> -- </th>
        <th> -- </th>
        <th> -- </th>
    </tr>
    <!--shows information per class in table form
    {% for this_class in class_info %}
    <tr>
        <td>{{ this_class.code }}</td>
        <td>{{ this_class.section }}</td>    
        <td>{{ this_class.venue }}</td>
        <td>{{ this_class.professor }}</td>
    </tr>
    {% endfor %}
    -->
</table>
{% endblock %}

{% block scripts %}
<script src="../static/js/modal.js"></script>
{% endblock %}