{% extends 'base.html' %}
{% load static %}

{% block title %} Enlistment Buddy {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block content %}
<main>
    <section id="content">
        <section class="textareas">
            <button onclick="openModal()">
                <img src="../static/img/button-edit.svg">
            </button>
            <textarea placeholder="Paste from AISIS Class Schedule here..."></textarea>
        </section>
        <section id="timetable">
            <div class="row timerow">
                <div class="time"> </div>
                <div class="dayh">M</div>
                <div class="dayh">T</div> 
                <div class="dayh">W</div> 
                <div class="dayh">Th</div>
                <div class="dayh">F</div>
                <div class="dayh">S</div>
            </div>
            <!-- creates all times -->
            {% for x in time %}
            <div class="row"> 
                <!-- creates first column of times-->
                <div class="time">{{ x|time:"H:i" }}</div>
                <!-- if there are classes in monday, make it, otherwise blank column-->
                <!-- copy from here, rename monday-->
                <section class="daytable">
                    <div class="day">
                        {% for class in monday %}         
                            {% if class.start  <= x and class.end >= x %}  
                            <div class="infowrap">
                                <div class="classinfo">{{ class.code }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>-->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- copy till here -->
                    <div class="day">
                        {% for class in tuesday %}         
                            {% if class.start  <= x and class.end >= x %}  
                            <div class="infowrap">
                                <div class="classinfo">{{ class.code }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>-->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="day">
                        {% for class in wednesday %}         
                            {% if class.start  <= x and class.end >= x %}  
                            <div class="infowrap">
                                <div class="classinfo">{{ class.code }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>-->
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="day">
                        {% for class in thursday %}         
                            {% if class.start  <= x and class.end >= x %}  
                            <div class="infowrap">
                                <div class="classinfo">{{ class.code }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>-->  
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="day">
                        {% for class in friday %}         
                            {% if class.start  <= x and class.end >= x %}  
                            <div class="infowrap">
                                <div class="classinfo">{{ class.code }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>--> 
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="day">
                        {% for class in saturday %}         
                            {% if class.start  <= x and class.end >= x %}  
                            <div class="infowrap">
                                <div class="classinfo">{{ class.code }}</div>
                                <div class="classinfo">{{ class.section }}</div>
                                <div class="classinfo">{{ class.venue }}</div>
                                <div class="classinfo">{{ class.professor }}</div>
                            </div>
                                <!--<div>{{ class.start }}-{{ class.end }}</div>--> 
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            </div>
            {% endfor %}
        </section>
        <!--shows information per class in table form
        <table id="timetable">
        {% for divis_class in class_info %}
            <div class="row">
                <div class="day">{{ divis_class.code }}</div>
                <div class="day">{{ divis_class.section }}</div>  
            </div>
        {% endfor %}
        </table>
    -->
    </section>
</main>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div>
            <form action="/index_card" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/js/modal.js"></script>
{% endblock %}