@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cream: #FFF8E4;
    --midpurple1: #5D4988;
    --midyellow: #FFCC49;
    --lightpurple: #AE9FCD;
    --darkpurple: #231149;
    --classred: #F9B8AA;
    --classorange: #FFD8B5;
    --classyellow: #FFF2C6;
    --classgreen: #DCF9C6;
    --classteal: #CFFDE9;
    --classblue: #C2DBFF;
    --classpurple: #C4C3F9;
    --classlavender: #E7D3FF;
    --classpink: #FFDDFE;
    --classmagenta: #FFC0FC;
    --classlightgray: #E5E5E5;
    --classdarkgray: #CBCBCB;
}

.red {background-color: var(--classred)}
.orange {background-color: var(--classorange)}
.yellow {background-color: var(--classyellow)}
.green {background-color: var(--classgreen)}
.teal {background-color: var(--classteal)}
.blue {background-color: var(--classblue)}
.purple {background-color: var(--classpurple)}
.lavender {background-color: var(--classlavender)}
.pink {background-color: var(--classpink)}
.magenta {background-color: var(--classmagenta)}
.lightgray {background-color: var(--classlightgray)}
.darkgray {background-color: var(--classdarkgray)}

html {
    background-color: var(--midpurple1);
}

html, body, main {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 40px;
}

#content {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
}

.textareas {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 28px 0 0;
    position: sticky;
    top: 40px;
    height: 100vh;
}

button, .btn {
    background: var(--cream);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: none;
    height: 60px;
    width: 60px;
    transition: 300ms ease-in-out;
    font-family: 'Inter', sans-serif;
}

button:hover, .btn:hover {
    background: var(--midyellow);
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.ta_form {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 28px;
}

.ta_buttons {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    row-gap: 20px;
    align-self: flex-end;
}

.ta_gen {
    grid-column: 2;
    grid-row: 1;
    width: 100% !important;
    font-size: 24px;
    font-weight: 800;
    color: var(--darkpurple);
}

textarea, .textarea {
    /* height: 63vh !important; */
    border-radius: 25px;
    border: none;
    font-family: 'Inter', sans-serif;
    color: var(--midpurple1);
    padding: 28px;
    resize: none;
    transition: 300ms ease-in-out;
    grid-column: 2;
    grid-row: 1;
}

textarea::placeholder, .textarea::placeholder {
    font-style: italic;
    color: var(--lightpurple);
    vertical-align: text-top;
    margin: 0;
    word-wrap: normal;
}

textarea:focus, .textarea:focus {
    outline: solid 2px var(--lightpurple);
    transition: 100ms ease-in-out;
}

/* Table Attributes */
.time {
    font-weight: bold;
    padding: 0 0 16px 0;
    text-align: left;
    text-transform: uppercase;
    align-self: flex-start;
}

.dayh {
    font-weight: bold;
    padding: 1% 0 0;
}

td, th {
    width: 86px;
}

/* .time { grid-area: time} */

#timetable
{
    display: grid;
    padding: 3%;
    width: 50vw;
    background: white;
    border-radius: 25px;
    font-size: 11px;
    font-style: normal;
    outline: none !important;
    border-collapse: collapse !important;
    text-align: center;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
}

/* .row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
    margin: -1.5px;
    height: 12vh !important;
    align-self: center;
} */

.daytable {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column: span 6;
    height: 12vh !important;
    align-self: center;
}

.min1 { grid-row: span 1; }
.min2 { grid-row: span 2; }
.min3 { grid-row: span 3; }
.min4 { grid-row: span 4; }
.min5 { grid-row: span 5; }
.min6 { grid-row: span 6; }


/* .classinfo {
    background-color: white;
} */

.day {
    position: relative;
}

.lockoverlay {
    opacity: 0;
    display: flex;
    position: absolute;
    align-content: center;
    justify-content: center;
    background-color: inherit;
    width: 100%;
    height: 100%;
    transition: 300ms ease-in-out;
}

.lockoverlay:hover {
    opacity: 1;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.class-lock {
    align-self: center;
    justify-self: center;
    background-color: inherit;
    box-shadow: none;
}

.class-lock:hover {
    background-color: inherit;
}

.timerow {
    height: fit-content !important;
}

.timerow .time, .timerow .dayh {
    padding-bottom: 10%;
}

.infowrap {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    align-content: center;
    /* max-width: 99%; */
}

.classinfo {
    max-width: 90%;
    align-self: center;
    justify-self: center;
}

.classinfo:nth-child(2), .classinfo:nth-child(3) {
    font-weight: 700;
}

.classinfo:nth-child(4), .classinfo:nth-child(5) {
    font-style: italic;
}