:root {
    --cream: #FFF8E4;
    --midpurple1: #5D4988;
    --midyellow: #FFCC49;
    --lightpurple: #AE9FCD;
    --darkpurple: #231149;
}

html {
    background-color: var(--midpurple1);
}

html, body, main {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 40px;
}

#content {
    display: flex;
    align-items: flex-start;
}

.textareas {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 20px;
    margin: 0 28px 0 0;
    align-items: flex-end;
}

button, .btn {
    background: var(--cream);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: none;
    height: 60px;
    width: 60px;
    transition: 300ms ease-in-out;
}

button:hover, .btn:hover {
    background: var(--midyellow);
    transition: 300ms ease-in-out;
    cursor: pointer;
}

textarea {
    height: 30vh;
    border-radius: 25px;
    border: none;
    font-family: 'Inter', sans-serif;
    color: var(--midpurple1);
    padding: 28px;
    resize: none;
    transition: 300ms ease-in-out;
}

textarea::placeholder {
    font-style: italic;
    color: var(--lightpurple);
}

textarea:focus {
    outline: solid 2px var(--lightpurple);
    transition: 100ms ease-in-out;
}

/* Table Attributes */
.time {
    font-weight: bold;
    padding: 0 0 16px 0;
    text-align: left;
    text-transform: uppercase;
    align-self: flex-start;
}

.dayh {
    font-weight: bold;
    padding: 1% 0 0;
}

td, th {
    width: 86px;
}

/* .time { width: inherit; } */

#timetable
{
    display: grid;
    padding: 5%;
    width: 50vw;
    background: white;
    border-radius: 25px;
    font-size: 11px;
    font-style: normal;
    outline: none !important;
    border-collapse: collapse !important;
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
    margin: -1.5px;
    height: 10vh !important;
    align-self: center;
}

.daytable {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column: span 6;
}

.classinfo {
    background-color: white;
}

.day {
    border: solid 3px var(--lightpurple);
    margin: 0 -1.5px;
}

.timerow {
    height: fit-content !important;
}

.timerow .time, .timerow .dayh {
    padding-bottom: 10%;
}

.infowrap {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    align-content: center;
}

.classinfo:nth-child(1), .classinfo:nth-child(2) {
    font-weight: 700;
}

.classinfo:nth-child(3), .classinfo:nth-child(4) {
    font-style: italic;
}