:root {
    --cream: #FFF8E4;
    --midpurple1: #5D4988;
    --midyellow: #FFCC49;
    --lightpurple: #AE9FCD;
}

html {
    background-color: var(--midpurple1);
}

html, body, main {
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 40px;
}

#content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 28px;
}

button {
    background: var(--cream);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: none;
    height: 60px;
    width: 60px;
    transition: 300ms ease-in-out;
}

button:hover {
    background: var(--midyellow);
    transition: 300ms ease-in-out;
    cursor: pointer;
}
/* Table Attributes */
th
{
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
    padding: 16px;
    text-align: left;
    text-transform: uppercase;
}

td
{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
}

td, th {
    width: 86px;
}

.time { width: inherit;}

table
{
    padding: 10px;
    width: 50vw;
    background: white;
    border-radius: 25px;
}

table, th, tr, td {
    border: none !important;
    outline: none !important;
    border-collapse: collapse !important;
    text-align: center;
};