/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
    align-items: center;
    margin: 0 auto;
}
/* Modal Content */
.modal-content {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 429px;
    height: 429px;
    text-align: center;
    align-items: center;
}
.close {
    color: #7C7C7C;
    float: right;
    font-size: 28px;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}